:root {
    --one : #2f3640;
    --tow : #192a56;
    --three : #718093;
    --four : #273c75;
    --five : #c23616;
    --six : #e84118;
    --seven : #353b48;
    --eight : #f5f6fa;
    --nine : #273c75;
    --ten : #40739e;
}

.bg-one {
    background-color: var(--one) !important;
}

.bg-tow {
    background-color: var(--tow)  !important;
}

.bg-three {
    background-color: var(--three) !important;
}

.bg-four {
    background-color: var(--four) !important;
}

.bg-five {
    background-color: var(--five) !important;
}

.bg-six {
    background-color: var(--six) !important;
}

.bg-seven {
    background-color: var(--seven) !important;
}

.bg-eight {
    background-color: var(--eight) !important;
}

.bg-nine {
    background-color: var(--nine) !important;
}

.bg-ten {
    background-color: var(--ten)!important;
}

/* Text colors */

.tx-one {
    color: var(--one) !important;
}

.tx-tow {
    color: var(--tow) !important;
}

.tx-three {
    color: var(--three) !important;
}

.tx-four {
    color: var(--four) !important;
}

.tx-five {
    color: var(--five) !important;
}

.tx-six {
    color: var(--six) !important;
}

.tx-seven {
    color: var(--seven) !important;
}

.tx-eight {
    color:var(--eight) !important;
}

.tx-nine {
    color: var(--nine)  !important;
}

.tx-ten {
    color: var(--ten) !important;
}

/* Border colors */

.br-one {
    border : 2px solid var(--one) !important;
}

.br-tow {
    border : 2px solid var(--tow) !important;
}

.br-three {
    border : 2px solid var(--three) !important;
}

.br-four {
    border : 2px solid var(--four) !important;
}

.br-five {
    border : 2px solid var(--five) !important;
}

.br-six {
    border : 2px solid var(--six) !important;
}

.br-seven {
    border : 2px solid var(--seven) !important;
}

.br-eight {
    border : 2px solid var(--eight)  !important;
}

.br-nine {
    border : 2px solid var(--nine) !important;
}

.br-ten {
    border : 2px solid var(--ten) !important;
}



